<p class="mb-0">
<%= sc_nav_button_to(t(:show_device_on_map_cta), "#{map_base_url}#{device.id}", local_assigns.merge(external: true)) %>
  <% if authorize? device, :update? %>
    <%= sc_nav_button_to(t(:show_device_edit_cta, name: device.name), edit_ui_device_path(device, goto: request.path), local_assigns) %>
  <% end %>
  <% if authorize? device, :upload? %>
    <%= sc_nav_button_to(t(:show_device_upload_cta), upload_ui_device_path(device, goto: request.path), local_assigns) %>
  <% end %>
  <% if authorize? device, :download? %>
    <%= sc_nav_button_to(t(:show_device_download_cta), download_ui_device_path(device, goto: request.path), local_assigns) %>
  <% end %>
</p>
