---
http_interactions:
- request:
    method: get
    uri: https://api.open-elevation.com/api/v1/lookup?locations=41.3966908,2.1921909
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"results": [{"latitude": 41.3966908, "elevation": 17, "longitude":
        2.1921909}]}'
  recorded_at: Fri, 02 Nov 2018 11:39:51 GMT
recorded_with: VCR 4.0.0
