# This file is in a public repo.
# Put your SECRETS elsewhere!

# These are docker-compose variables.
# They are exposed into the containers as ENV vars

RAILS_ENV=development

DATABASE_URL=postgresql://postgres:postgres@db/sc_dev

TEST_DB_HOST=db
TEST_DB_USERNAME=postgres

# This is required for the RSpec DatabaseCleaner
DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL=true

# Tell sidekiq to use hostname redis, not localhost
# If this var is set, Redis uses it by default. No config needed
REDIS_URL=redis://redis:6379/0
REDIS_STORE=redis://redis:6379/3

mqtt_host=mqtt

# Cassandra IP - this is not used?
#cassandra_host_ip=localhost
#cassandra_keyspace=smart_citizen_development

aws_secret_key=123

# kairos Dockerized
kairos_server=kairos
kairos_telnet_port=4242
kairos_port=8080
K_USER=administrator
K_PASS=some_password

# AUTH ID
AUTH_SECRET_KEY_BASE=CreateSomeVeryLongLongLongRandomStringHere
