# This file is in a public repo.
# Put your SECRETS elsewhere!

# These are docker-compose variables.
# They are exposed into the containers as ENV vars

RAILS_ENV=development

DATABASE_URL=postgresql://postgres:postgres@db/sc_dev

TEST_DB_HOST=db
TEST_DB_USERNAME=postgres

# Tell sidekiq to use hostname redis, not localhost
# If this var is set, Redis uses it by default. No config needed
REDIS_URL=redis://redis:6379/0
REDIS_STORE=redis://redis:6379/3

# MQTT Settings
MQTT_HOST=mqtt
#MQTT_CLEAN_SESSION=true
#MQTT_CLIENT_ID=some_id

aws_secret_key=123

# kairos Dockerized
kairos_server=kairos
kairos_telnet_port=4242
kairos_port=8080
kairos_http_username=administrator
kairos_http_password=some_password

# AUTH ID
AUTH_SECRET_KEY_BASE=CreateSomeVeryLongLongLongRandomStringHere
