# This file is in a public repo.
# Put your SECRETS elsewhere!

# These are docker-compose variables.
# They are exposed into the containers as ENV vars

RAILS_ENV=development

# Tell sidekiq to use hostname redis, not localhost
# If this var is set, Redis uses it by default. No config needed
REDIS_URL=redis://redis:6379/0
REDIS_STORE=redis://redis:6379/3

mqtt_host=mqtt

# Cassandra IP - this is not used?
#cassandra_host_ip=localhost
#cassandra_keyspace=smart_citizen_development

# kairos Dockerized
kairos_server=kairos
kairos_telnet_port=4242
kairos_port=8080
K_PASS=administrator
K_PASS=some_password

# Used in config/database.yml to override, if available
DEV_DB_HOST=db
DEV_DB_USERNAME=postgres

# Production config/database.yml
PG_DATABASE_HOST=
PG_DATABASE_NAME=
PG_DATABASE_USERNAME=
PG_DATABASE_PASSWORD=
