<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Alerts e.g. approaching your limit</title>
<%= render "email_css" %>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td class="alert alert-warning">
              <h3 class="mail-title">
                <img class="text-white" src="https://fablabbcn.github.io/assets/images/sck_logo_box.svg" style="height:50px" alt="SCK logo">
              </h3>
            </td>
          </tr>
          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <h2 class="corporate-text-color"><%= @user.username %>,</h2>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <p class="corporate-text-color">The CSV archive for '<%= @device %>' is now ready for download. You can access it here:</p>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <a href="<%= @url %>" class="btn-primary">Download CSV</a>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <p class="corporate-text-color">Thank you.</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        </div>
    </td>
    <td></td>
  </tr>
</table>

</body>
</html>
