<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Alerts e.g. approaching your limit</title>
<%= render "email_css" %>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td class="alert alert-warning">
              <h3 class="mail-title">Smart Citizen</h3>
            </td>
          </tr>
          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <h2 class="corporate-text-color">Welcome <%= @user.username %></h2>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <p class="corporate-text-color">Thanks for joining us. Smart Citizen is a platform to generate participatory processes of the people in the cities. Connecting data, people and knowledge, the objective of the platform is to serve as a node for building productive open indicators and distributed tools, and thereafter the collective construction of the city for its own inhabitants.</p>
                  </td>
                </tr>
                <tr>
                  <td class="">
                    <a href="<%= ENV['frontend_root_url'] %>" class="btn-primary">Go to Smart Citizen</a>
                  </td>
                </tr>
                <tr>
                  <td class="subtitles-content-block">
                    <h3 class="corporate-text-color">Get your Smart Citizen Kit.</h3>
                  </td>
                </tr>
                <tr>
                  <td class="">
                    <p class="corporate-text-color">Purchase your own Smart Citizen Kit and start streaming your location data.</p>
                  </td>
                </tr>
                <tr>
                  <td class="subtitles-content-block">
                    <h3 class="corporate-text-color">Smart Citizen for Android.</h3>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <p class="corporate-text-color">Check out our Smart Citizen Android app to browse data from our kit network.</p>
                  </td>
                </tr>
                <tr>
                  <td class="">
                    <a href="https://play.google.com/store/apps/details?id=com.fablabbcn.smartcitizen" class="btn-primary">Get the App</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <div class="footer">
          <table width="100%">
            <tr>
              <td class="content-block"><a href="http://www.mailgun.com">Unsubscribe</a> from these alerts.</td>
            </tr>
          </table>
        </div></div>
    </td>
    <td></td>
  </tr>
</table>

</body>
</html>
