<div class="danger-zone p-4 mt-5 border-top border-thick pb-md-5 <%= local_assigns[:class] %>">
  <h2 class="mb-4"><%= local_assigns[:subhead] || t(:danger_zone_subhead) %></h2>
  <%= yield %>
</div>
