<span class="extra-info align-middle">
  <span class="icon ms-1"><%= image_tag("info_icon.svg") %></span>
  <span class="info border p-3 z-2 shadow" style="display: none;"><%= yield %></span>
</span>
