<div class="map-location-picker border border-medium rounded-4" data-latitude-input-id="<%= latitude_input_id %>" data-longitude-input-id="<%= longitude_input_id %>" data-marker-url="<%= asset_url("map-pin.svg") %>" data-marker-shadow-url="<%= asset_url("map-pin-shadow.png") %>"></div>
