<div class="container-lg g-0 px-2 px-md-4 px-lg-0">
  <div class="row gx-0 gx-md-4 mb-0 pt-2 d-lg-none" %>
      <%= yield :two_column_sidebar %>
  </div>
  <div class="row gx-0 gx-md-4">
    <div class="col-lg-2 d-none d-lg-flex">
      <%= yield :two_column_sidebar %>
    </div>
    <div class="col-12 col-lg-10 g-0">
      <%= yield :two_column_main %>
    </div>
  </div>
</div>
