<div class="container-lg g-0 px-4 px-lg-0">
  <div class="row">
    <div class="col-lg-2 d-none d-lg-flex">
      <%= yield :two_column_sidebar %>
    </div>
    <div class="col-12 col-lg-10 g-0">
      <%= yield :two_column_main %>
    </div>
  </div>
</div>
