STORAGE_DIR=/var/lib/cassandra
LOG_DIR=/var/log/cassandra
CLUSTER_NAME=clustername # Cluster name
SEEDS=127.0.0.1 # CSV list of nodes on current cluster
LISTEN_ADDRESS=127.0.0.1 # Private IP of this node 
RPC_ADDRESS=127.0.0.1 # Private IP of this node
AUTHENTICATOR=PasswordAuthenticator
ENDPOINT_SNITCH=GossipingPropertyFileSnitch
MAX_HEAP_SIZE=2048M
HEAP_NEWSIZE=512M
