<h2><%= t :no_experiment_cta_heading %></h2>
<p><%= t :no_experiment_cta_blurb %></p>
<div class="mx-auto w-lg-75 w-100 mb-2 mt-4">
  <a class="btn btn-primary w-100" href="<%= new_ui_experiment_path %>"><%= t :no_experiment_link_text %></a>
</div>
