<div class="w-100 gx-0">
  <%= render layout: "ui/shared/box", locals: { no_padding: true, class: "w-100 sticky-lg-top z-2 page-nav", no_shadow: true } do %>
    <a href="#devices" class="subtle-link d-block p-3"><%= t :show_user_devices_heading %></a>
    <a href="#experiments" class="subtle-link d-block p-3 border-top"><%= t :show_user_experiments_heading %></a>
  <% end %>
</div>
