<%= bootstrap_form_tag url: ui_user_path(@user.id), method: :delete do |f| %>
  <p><%= t(:delete_user_warning_html, username: current_user.username) %></p>
  <%= f.text_field :username, label: t(:delete_user_username_label, owner: possessive(@user, current_user))  %>
  <div class="mt-4">
    <%= f.primary t(:delete_user_submit, owner: possessive(@user, current_user, first_person: true)), class: "btn btn-danger w-100 w-md-auto" %>
  </div>
<% end %>
