---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/elevation/json?key=AIzaSyDQobnAu70E_jhrSoq7kVHrcYnoH0tBXSA&locations=41.3966908,2.1921909
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "elevation" : 4.067196846008301,
                 "location" : {
                    "lat" : 41.3966908,
                    "lng" : 2.1921909
                 },
                 "resolution" : 1.192993998527527
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 28 Oct 2015 11:47:04 GMT
recorded_with: VCR 2.9.3
