---
http_interactions:
- request:
    method: get
    uri: http://search.mapzen.com/v1/autocomplete?api_key=&text=manchester
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Charset:
      - utf8
      Content-Type:
      - application/json; charset=utf-8
      X-Apiaxleproxy-Qpd-Left:
      - '999'
      X-Apiaxleproxy-Qpm-Left:
      - '5'
      X-Apiaxleproxy-Qps-Left:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"geocoding":{"version":"0.2","attribution":"https://search.mapzen.com/v1/attribution","query":{"text":"manchester","tokens":["manchester"],"size":10,"private":false,"lang":{"name":"English","iso6391":"en","iso6393":"eng","defaulted":true}},"engine":{"name":"Pelias","author":"Mapzen","version":"1.0"},"timestamp":1493044997015},"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[-2.207198,53.470708]},"properties":{"id":"101750525","gid":"whosonfirst:locality:101750525","layer":"locality","source":"whosonfirst","source_id":"101750525","name":"Manchester","accuracy":"centroid","country":"United
        Kingdom","country_gid":"whosonfirst:country:85633159","country_a":"GBR","macroregion":"England","macroregion_gid":"whosonfirst:macroregion:404227469","region":"Manchester","region_gid":"whosonfirst:region:85683651","locality":"Manchester","locality_gid":"whosonfirst:locality:101750525","label":"Manchester,
        England, United Kingdom"},"bbox":[-2.30063469675,53.3955925,-2.14760763936,53.5394665]},{"type":"Feature","geometry":{"type":"Point","coordinates":[-2.187199,53.54725]},"properties":{"id":"101913963","gid":"whosonfirst:locality:101913963","layer":"locality","source":"whosonfirst","source_id":"101913963","name":"Manchester","accuracy":"centroid","country":"United
        Kingdom","country_gid":"whosonfirst:country:85633159","country_a":"GBR","macroregion":"England","macroregion_gid":"whosonfirst:macroregion:404227469","region":"[...]
