.profile-header {
  h1 {
    line-height: 2.4rem !important;
    padding-bottom: 0.4rem !important;
  }

  a {
    color: $white !important;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
