<%= render layout: "ui/shared/box", locals: { no_padding: true, inner_class: "drop-shadow-teal" } do %>
  <div class="p-3" id="devices">
    <h2><%= t :experiment_devices_collection_heading %></h2>
    <% if experiment.devices.length < 1 %>
      <p><%= t :experiment_devices_collection_no_devices_message %></p>
    <% end %>
  </div>
  <%= render partial: "ui/devices/device", collection: experiment.devices.by_last_reading, locals: { with_actions: true } %>
<% end %>
