h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}


body{
  background-color: $grey-300;
  background-image: image-url("sck_bg.png");
  background-repeat: repeat;
  background-size: 65px;
  height: 100vh;
}

.border-thick {
  border-width: 3px !important;
}

.btn {
  text-transform: uppercase;
  font-family: "Kanit";
  font-weight: 600;
  &.btn-primary {
    background-color: $black;
    color: $white;
    border: 3px solid black;
    &:hover, &:active, &:focus {
      color: $primary;
      outline: $primary solid 3px;
    }
  }
  &.btn-secondary {
    color: $black;
    background-color: $primary;
    border: 3px solid $primary;
    &:hover, &:active, &:focus {
      outline: $black solid 3px;
    }
  }
}

.form-control {
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
  border-width: 2px;
  &:focus {
    outline: $primary solid 3px;
    box-shadow: none;
    border: 3px solid black;
  }
}

.form-label {
  margin-left: 1.5rem;
}

