.listing {
  position: relative;

  .listing-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
  }

  &:has(:hover) {
    .map  {
      background-color: $yellow;
      .leaflet-pane {
        mix-blend-mode: multiply;
      }

      .leaflet-marker-icon {
        filter: brightness(0) saturate(100%);
      }
    }

    h3 {
      text-decoration: underline;
    }
  }
}
