<div class="sc-off-cta-platform" style="pointer-events: auto;">
  <div class="navigation">
    <img class="sc-logo" src="<%= image_url("smartcitizen_logo.svg") %>" alt="SmartCitizen">
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
  <div class="landing-menu">
    <div class="external-links">
      <a href="/kits/" class="landing-menu-btn md-button" target="_blank">PLATFORM</a>
      <a href="https://docs.smartcitizen.me/" class="landing-menu-btn md-button" target="_blank">DOCUMENTATION</a>
      <a href="https://forum.smartcitizen.me/" class="landing-menu-btn md-button" target="_blank">FORUM</a>
    </div>
    <a href="#get-your-kit" class="btn-white-blue btn-round-new md-button btn-kit">GET YOUR KIT</a>
  </div>
</div>
